ELKS_USERNAME=get-from-elks-dashboard
ELKS_PASSWORD=get-from-elks-dashboard

APP__DATABASE__URL=postgres://postgres:password@localhost:5432/storage
DATABASE_URL=${APP__DATABASE__URL}

APP__COMMS__USERNAME=your_comms_username
APP__COMMS__PASSWORD=your_comms_password

# Generate with `just generate-keys`
APP__AUTH__PRIVATE_KEY_BASE64=generate-with-just-command
APP__AUTH__PUBLIC_KEY_BASE64=generate-with-just-command